@charset "utf-8";

*{box-sizing: border-box;}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.banner{
	background-color: #11233b;
	color: #FFFFFF;
	padding: 1px 1px;
	text-align: center;
	font-size: 35px;
	font-family: arizonia;
	}

.topnav{
	background-color: #11233B;
	margin-top: 5px;
	padding: 1px 1px
}

.topmenunav{
	display: inline;
	margin-left: 15px;
	font-size: 15px;
	font-variant: 20px;
	font-weight: bold;
}

a{
	color: white;
	text-decoration: none;
	padding: 1px;
}

a:hover{
	background-color: #183154;
	padding: 4px;
}

main{
	height: auto;
	float: left;
	background-color: transparent;
	margin-top: 1px;
}

section{
	background-color: #0EF7C0;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: -3px 3px 10px 3px #ccc;
}

article{
	background-color: white;
	margin-top: 5px;
	padding: 10px 15px;
}


.aside {
    background-color: #E53232;
    color: #ffffff;
    text-align: center;
	float: right;
	margin-top: 1px;
	height: 500px;
}

p{
	font-size: 13px;
	color: black;
}

footer{
	background-color: green;
	clear: both;
	text-align: center;
	margin-top: 1px;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}